
body {
    background: url("/unit-4-game/assets/images/background_img.jpg");
}

img{
    height: 90px;
    width: 65px;
}

p{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
}
.title{
    padding-left: 0px;
    padding-right: 0px;
}

.game-title{
    background-color: chocolate;
    color: white;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.game-directions{
    background-color: bisque;
    color: seagreen;
    padding: 0px;
    width: 500px;
}

.section-title{
    background-color: teal;
    width: 250px;
    color: white;
    font-size: 20px;
}

#showRandomNumber{
    width: 250px;
    height: 100px;
    font-size: 50px;
    background-color: seagreen;

}

#win-area {
    height: 100px;
    width: 80px;
    padding: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: aqua;
}


#score{
    overflow: auto;
}


#showRandomNumber,
#win-area,
#showResult{
    float: left;
}


#showScore{
    background-color: teal;
    color: white;
    width: 250px;
    font-size: 30px;
}

#showWins{
    position: relative;
    float: right;
    width: 10px;
    top: -30px;
}

#showLosses{
    position: relative;
    float: right;
    width: 10px;
    top: -30px;
}
